<script src="/javascripts/uploader.js"/></script>
<% content_for :body do %>
  <center><h3>CSV uploader</h3></center>
<% end %>
<div style='margin:auto; width:1000px; margin-top:80px;'>
<h3>Please select a file</h3>
<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash #{key}" %>
<% end %>
<p>
  <% @shift.errors.full_messages.each do |message| %>
    <p> <%= message %> </p>
  <% end %>
</p>
<form id='fileform' method='post' enctype="multipart/form-data" action="<%= shift_csvs_path %>">
  <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %> 
  <input type="file" id="files" name="shift_csv[csv]" multiple />
  <output id="list"></output>
  <p>
    <input type='hidden' name='shift_csv[multiple_employees]' id='multiple_employees' value=1 />
    <input type='hidden' name='shift_csv[employee_name]' id='employee_name' value=''/>
  </p>
  <p id='data_finder_inputs'>
  </p>
  <div id="dialog" title="Find your data" style='display:none'>
  </div>
  <table id='table' style='font-size:10px; border: 1px solid;'></table>
</form>
